*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 100%;
    
   
}

.bg-image{
    background-image: url(./images/plant-leaf-flower-green-botany.jpg);
     /* Add the blur effect */
    filter: blur(4px);
    height:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    /* margin-top: 0; */
    position: absolute;
    top: 1%;
    left: 33%;
    background-color: rgb(218, 215, 44);
    color: rgb(105, 43, 7);
    font-size: 50px;
    /* border-radius: 10px; */
    outline: 10px solid blueviolet;
    padding-bottom: 10px;

}
span{
    background-color: blueviolet;
    /* display:inline-block; */
    display:block;
    
}
.panel{
    display: flex; 
    justify-content: center;
    align-items:center; 
}
.panel p{
    font-size: 28px;
    width: 200px;
    height: 180px;
    text-align: center;
    border-radius: 10px;
    
}
.upper p{
    border: 1px solid yellow;
}

.upper p:last-child{
    padding-top: 40px;
}

.lower p:last-child{
    padding-top: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    
}
.gameArea{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: #fff;
    font-size: 25px;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 30px 0;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: 10px;
    
    
}


.userInput{
    color: black;
    width: 55%;
    height: 90px;
    font-size: 50px;
    margin-top: 5px;
    border-radius:10px;
    border-style: none;
    border: 5 px solid green;
    text-align: center;
}

.userSubmit{
    background-color: brown;
    color: white;
    width: 51%;
    height: 50px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius:10px;
    border-style: none;
    border: 5 px solid green;
    text-align: center;
}
.userSubmit:hover{
    cursor: pointer;
    background-color: green;

}

.adjustYourGuess{
    width:35%;
    height:100px;
    border-radius: 10px;
    padding-top: 20px;
    
}

.lower-3-boxes{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


button{
    background-color: blueviolet;
    color: white;
    height: 50px;
    font-size: 25px;
    margin-top: 5px;
    border-radius:10px;
    border-style: none;
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 45%;
}

button:hover{
    cursor: pointer;
    background-color: green;
}

.hint {
    position: relative;
    display: inline-block;
    background-color:goldenrod;
    height: 50px;
    font-size: 15px;
    padding-top: 14px;
    padding-left: 3px;
    padding: 14px  3px 0px 3px;
    border-radius:10px;
    border-style: none;
    border: 5 px solid green;
    text-align: center;
    
  }
  
  .hint .hintText {
    visibility: hidden;
    width: 120px;
    background-color: rgb(123, 91, 241);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .hint .hintText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(123, 91, 241) transparent transparent transparent;
  }
  
  .hint:hover .hintText {
    visibility: visible;
    opacity: 1;
  }